registry=http://r.npm.sankuai.com
disturl=http://npm.sankuai.com/dist/node
profiler_binary_host_mirror=https://npm.taobao.org/mirrors/node-inspector/
fse_binary_host_mirror=https://npm.taobao.org/mirrors/fsevents/
usb_binary_host=http://npm.sankuai.com/mirrors/node-usb/
sass_binary_site=http://npm.sankuai.com/dist/node-sass
